@media screen and (max-width: 1200px){

    button{
        width: 80px;
        height: 85px;
    }

    #calculator{
        height: 100vh;
        width: 100vw;
       }

    #keys{
        gap: 10px;
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width:400px) {

    #display{
        font-size: 4rem;
    }
    
    button{
        width: 50px;
        height: 50px;
        font-size: 2.5rem;
        grid-template-columns: repeat(4,1fr);
        column-gap: 10px;
    }

    #calculator{
        height: 75vh;
        width: 80vw;

       }

       #keys{
        width: 300px;
        /* flex-wrap: wrap; */
    }
    
}

@media screen and (max-width:600px) {

    /* button{
        height: 120px;
        width: 80px;
    } */
    
    #calculator{
        max-width: 400px;
    }

    #keys{
        grid-template-columns: repeat(4,1fr);
        gap: 15px ;
    }
}